*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'poppins', sans-serif; 
} 
.images1{
margin-top: -300px;
margin-left: 545px;
}
.images2{
margin-top: -950px;
margin-left: 850px;
}
.images3{
    margin-top: -370px;
    margin-left: -50px;
}
.game-content{
    font-weight: bold;
    color: white;
    font-size: 25px; 
    margin-left: 290px;
    margin-top: -440px;
}
.images4{
    margin-top: -100px;
    margin-left: -500px;
}
.pygame-content{
    font-weight: medium;
    color: white;
    font-size: 20px; 
    margin-left: 50px;
    margin-top: 500px;
    
}
.aboutproject-content{
    font-weight: normal;
    color: white;
    font-size: 20px; 
    margin-left: -100px;
    margin-top: 40px;
    line-height: 35px;
}
.key-content{
    font-weight: medium;
    color: white;
    font-size: 20px; 
    margin-left: 50px;
    margin-top: 50px;
}
.keytakeaway-content{
    font-weight: normal;
    color: white;
    font-size: 20px; 
    margin-left: -100px;
    margin-top: 40px;
    line-height: 35px; 
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%; /* Adjust as needed */
    margin: 0 auto;
  }

  /* Default styles for larger screens */

@media only screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide */
  }
  
  @media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px wide */
  }

  img {
    max-width: 100%;
    height: auto;
  }

  body {
    font-size: 16px;
  }
  
  @media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1;
  }
  
  
  
      /* Default styles for mobile devices */
  
      @media only screen and (min-width: 768px) {
        /* Additional styles for larger screens */
      }
  
  